@charset "utf-8";
/* CSS Document */

body{
	background-image: url('./image/bg.jpg');
	background-repeat: repeat-x;
	background-color: black;
}
body > div{
	outline:1px dashed black;
}
body > div > div{
	outline:1px dashed red;
}
body > div > div > div{
	outline:1px dashed orange;
}
body > div > div > div > div{
	outline:1px dashed magenta;
}
body > div > div > div > div > div {
	outline:1px dashed cyan;
}
body > div > div > div > div > div > div{
	outline:1px dashed red;
}

div.container-head{
	min-height: 230px;
}
div.container-content{
	min-height: 600px;
}
div.container-footer{
	min-height: 200px;
	background-image: url('./image/footer.jpg');
}


div[class|='container'] > div{
	width: 980px;
	margin: 0 auto;
	min-height: inherit;
	padding-top: 1px;
	padding-bottom: 1px;
}

div.head div.logo{
	width:200px;
	height:210px;
	float: left;
	margin-top:10px;
	margin-left: 10px;
}

div.head div.header, div.head div.menu{
	width:750px;
	margin-top: 10px;
	margin-left: 10px;
	float:left;

}
div.head div.header{
	height: 150px;
}
div.head div.menu{
	height: 50px;	
}
div.head div.menu ul{
	width:400px;
	height:inherit;
	outline:1px dashed red;
	margin:0 auto;
	list-style-type: none;
}
div.head div.menu li{
	float:left;
	margin-left: 10px;
	margin-top: 10px;
}
div.head div.menu a{
	padding:5px 20px;
	background-color: red;
	text-decoration: none;
	color:black;
}

