body{
	font-family: ' Helvetica, Arial, sans-serif';
	text-transform:capitalize;
}
div.head div.logo{
	float: left;
	margin-left: 10px;
	margin-right: 0px;

}
div.head div.header, div.head div.menu{
	margin-left: 10px;
	margin-right: 0px;
	float:left;

}
div.head div.menu li{
	float:left;
	margin-left: 10px;
	margin-right: 0px;

}
div.head div.menu a{
	padding:4px 41px;
}
div.content div.sidebar{
	margin-left: 10px;
	margin-right: 0px;
	float:left;
}
div.content div.foot{
	float:left;
}
div.container-slideshow div.next{
	left:921px;
}
div.container-slideshow div.previous{
	left:288px;
}
div.right{
	margin-left: 5px;
	margin-right: 0px;
	float:left;
}
div.left{
	margin-right: 5px;
	float:right;
}
div.header div.right h1,div.header div.right h2{
	text-align: left;
}
div.header div.right h1{
	margin-left: 10px;
	margin-right: 0px;

}
div.header div.right h2{
	margin-left: 35px;
	margin-right: 0px;

}
div.foot h1{
	width:180px;
}
div.foot div.lastwork{
	float:left;
	margin-left: 25px;
	margin-right: 0px;

}
div.foot div.boxt{
	text-align:left;
}
div.footer div.right{
	float:left;
	margin-left: 10px;
	margin-right: 0px;

}
div.footer div.left{
	float:right;
	margin-right: 100px;
	margin-left: 0px;
}

div.footer div.right div.facebook,div.footer div.right div.twitter{
	float:left;
	margin-left: 10px;
	margin-right: 0px;

}
div.footer div.left div.copyright,div.footer div.left div.info{
	margin-right: 90px;
}
div.facebook img,div.twitter img{
	float:left;
	margin-left: 10px;
	margin-right: 0px;

}
div.facebook p,div.twitter p{
	text-align: left;
	margin-left: 35px;
	margin-right: 0px;

}

div.copyright p,div.info p{
	text-align: left;
}
div.sidebar div.title,div.sidebar div.txt{
	float:left;
	margin-left: 10px;
	margin-right: 0px;

}
div.sidebar div.title p{
	text-align: left;
}
div.sidebar div.txt p{
	text-align:left;
	line-height: 20px;
}
div.sidebar div.form{
	float:left;
	margin-left: 10px;
	margin-right: 0px;

}
div.form form{
	float:left;
}
div.form input.text{
	margin-right: 0px;
}
div.form input.text,div.form textarea{
	text-align: left;
	padding-left: 6px;
}

/***********************************************Product-Page****************************************************************/

div.product div.sidebar{
	float:left;
	margin-right: 0px;
	margin-left: 10px;
}
div.product div.content{
	float:left;
	margin-right: 0px;
	margin-left: 10px;
}
div.sidebar div.sidemenu li{
	float:left;
	margin-right: 0px;
	margin-left: 10px;
}
div.content div.work-container div.work{
	float:left;
}
div.work-container div.work div.hid{
	text-align:left;
}
div.sidebar div.sidemenu a{
	padding:4px 41px;
}

/***********************************************each-product-Page****************************************************************/